<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}
  
  {% endblock title %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/material-kit.css')}}">
</head>

<body>
  <nav id='navbar' class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        <a class="navbar-brand" href="{{ url_for('contact_us') }}">Contact us</a>
        <a class="navbar-brand" href="{{ url_for('faq') }}">FAQ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {% if 'token' in session %}
          <li class="nav-item">
            <a href="{{ url_for('my_profile') }}" class="nav-link">My profile</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('my_bookings') }}" class="nav-link">My bookings</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{{ url_for('login') }}" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('register') }}" class="nav-link">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
{% block content %}

{% endblock content %}


  <footer class="footer footer-default">
  </footer>

{% block javascript %}

{% endblock javascript %}  
</body>

</html>