{% extends "base_template.html" %}
{% block content %}
<script>
    navbar.classList.add('navbar-color-on-scroll');
    navbar.classList.add('bg-primary');
</script>

<div class="modal fade" id="buyTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Do you wish to buy a ticket for this event?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/event/{{event.id}}" method="post">
                    {{ form.csrf_token }}
                    <input type='hidden' name="event_id" value={{event.id}}>
                    <input type='hidden' name="user_id" value={{user.id}}>
                    <input id="form-submit" name="form-submit" type="submit" class="btn btn-primary" value="Buy ticket">
                    <button type="button" class="btn btn-rose" data-dismiss="modal">Forget about it</button>
                    <br>
                    <br>
                    <h6>NOTE: The payment will be made at the specified venue before the event begins, so please be there with 30 minutes in advance</h6>
                </form>
            </div>
        </div>
    </div>
</div>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url({{url_for('static', filename='assets/img/city-profile.jpg')}});"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto mr-auto">
            <div class="profile">
            </div>
          </div>
        </div>

        <div class="description text-center">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            
            {% for message in messages %}
                <h4 class="text-warning text-center" style="margin-top: 20px;">{{ message }}</h4>
            {% endfor %}
            
            {% endif %}
            {% endwith %}

            <div class="card" style="margin-top: 100px;">
            <div class="card-header">
            <h3 class="card-title">{{ event.name }}</h3>
            </div>
                <div class="card-body">
                    <h4>{{event.description}}</h4>
                </div> 
            </div>
            <div class="card-footer">
                <h6><span>Venue: </span>{{ event.venue }}</h6>
                <h6><span>Datetime: </span>{{ event.datetime }}</h6>
                <h6><span>Price: </span>{{ event.entry_price }}</h6>
                <h6><span>Tickets available: </span>{{ event.slots_available }}</h6>
            </div>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" style="margin-bottom: 20px;" data-target="#buyTicket">Get ticket</button>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascript %}
<script>
body.classList.add("profile-page");
body.classList.add("sidebar-collapse");
</script>
{% endblock javascript %}