{% extends "base_template.html" %} {% block content %}
<script>
  navbar.classList.remove("navbar-transparent");
  navbar.classList.add("bg-primary");
</script>
<div class="container-fluid" style="margin-top: 150px;">
  <h1 class="text-center" style="margin-bottom: 60px;">Search events</h1>
  <div class="row content-justify-center">
    <div class="col-md-2">
      <div class="card">
        <div class="card-header card-header-rose">
          <h4 class="card-title">Search filters</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              {% if request.args.get('category') %}

              <select name='category' class="form-control">
                <option selected value="{{request.args.get('category')}}">Choose category...</option>

                {% for category in categories %}
                  <option value="{{category.id}}">{{ category.name }}</option>
                {% endfor %}

              </select>
              {% else %}
                <select name='category' class="form-control">
                <option selected value="">Choose category...</option>
                {% for category in categories %}
                  <option value="{{category.id}}">{{ category.name }}</option>
                {% endfor %}
              </select>
              {% endif %}
            </div>

            <div class="form-group">
            {% if request.args.get('name') %}
                <input
                    type="text"
                    value="{{request.args.get('name')}}"
                    name="name"
                    class="form-control"
                    placeholder="Name"
                />
            {% else %}
                <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Name"
                />
            {% endif %}
            </div>

            <div class="form-group">
            {% if request.args.get('location') %}
                <input
                    type="text"
                    value="{{request.args.get('location')}}"
                    name="location"
                    class="form-control"
                    placeholder="Location"
                />
            {% else %}
                <input
                    type="text"
                    name="location"
                    class="form-control"
                    placeholder="Location"
                />
            {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              Filter
            </button>
          </form>
          <a
            href="{{ url_for('events') }}"
            id="clear_filters"
            class="btn btn-default btn-block"
          >
            Clear Filters
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      {% for event in events %}
      <div class="card" style="margin-bottom: 70px;">
        <div class="card-header">
          <h4 class="card-title">{{ event[0].name }}</h4>
          <p class="category">{{ event[0].category }}</p>
          <p class="category">{{ event[0].event_type }}</p>
        </div>
        <div class="card-body">
          <p>
            <span class="text-muted">Description:</span> {{ event[0].description }}
          </p>
          <p>
            <span class="text-muted">Slots available:</span> {{
            event.slots_available }}
          </p>
          <p><span class="text-muted">Price:</span> {{ event[0].entry_price }}</p>
          <p><span class="text-muted">Venue:</span> {{ event[0].venue }}</p>
          <p><span class="text-muted">Datetime:</span> {{ event[0].datetime }}</p>
          <p><span class="text-muted">Category:</span> {{ event[1].name }}</p>
        </div>
        <div class="card-footer">
          <br />
          <button class="btn btn-primary">Get ticket</button>
          <button class="btn btn-rose">View event</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %} {% block javascript %} {% endblock javascript %}
