{% extends "base_template.html" %} {% block content %}
<div class="container-fluid" style="margin-top: 150px;">
  <h1 class="text-center" style="margin-bottom: 60px;">Search events</h1>
  <div class="row content-justify-center">

    <div class="col-md-2">
      <div class="card">
        <div class="card-header card-header-rose">
          <h4 class="card-title">Search filters</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Category"
              />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Location" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Price" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Filter
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-9">
        {% for event in events %}
        <div class="card" style="margin-bottom: 70px;">
            <div class="card-header">
                <h4 class="card-title">{{ event.name }}</h4>
                <!-- TODO: add category foreign key to event -->
                <p class="category">{{ event.category }}</p>
                <p class="category">{{ event.event_type }}</p>
            </div>
            <div class="card-body">
                <p><span class="text-muted">Description:</span> {{ event.description }}</p>
                <p><span class="text-muted">Slots available:</span> {{ event.slots_available }}</p>
                <p><span class="text-muted">Price:</span> {{ event.entry_price }}</p>
                <p><span class="text-muted">Venue:</span> {{ event.venue }}</p>
                <p><span class="text-muted">Datetime:</span> {{ event.datetime }}</p>
            </div>
            <div class="card-footer">
                <br>
                <button class="btn btn-primary">Get ticket</button>
            </div>
        </div>

        {% endfor %}
    </div>
    
  </div>
</div>
{% endblock content %} {% block javascript %}
<script>
// TODO: remove extend and come with a solid navigation bar that has no styling behaviour
  navbar.classList.remove("navbar-transparent");
  navbar.classList.add("bg-primary");
</script>
{% endblock javascript %}
