{% extends "base_template.html" %}

{% block content %}
<script>
  navbar.classList.remove("navbar-transparent");
  navbar.classList.add("bg-primary");
</script>
<div class="container" style="margin-top: 150px;">
  <div class="row content-justify-center">
  <h1 class="text-center" style="margin-bottom: 60px;">FAQ</h1>


<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question-Can i set up my own event?</h4>
    </div>
    <div class="card-body">
    Please go to the <a href="contact_us.html">contact page</a>  to enquire.
    </div>
</div>
<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question-Do i have you pay online or at the event?</h4>
    </div>
    <div class="card-body">
    You must pay any relevevant charges upon the event admission, in person.
    </div>
</div>
<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question-How can i view my ticket?</h4>
    </div>
    <div class="card-body">
    Go to your account page to view ticket your ticket information 
    </div>
</div>
<div class="card">
  <div class="card-header">
  <h4 class="card-title">Question-How do i open a new bank account</h4>
  </div>
  <div class="card-body">
  There are several banks located in Luton, Bedford and Aylesbury. By visiting a bank in person, or telephoning their customer services number provided 
  on their website, you can learn about how to open a bank account. There is also information for students provided on the British Bank Account website:<br>
  <a href="https://www.bba.org.uk/customer/article/guide-to-personal-finance-for-students/current-account-and-payments/">Click here.</a><br>
  The Student Information Desk can provide letters to help international students in opening a bank account. You can request this letter at the SiD desk, or you can request it via SiD Online. 
  Visit our website at <a href="https://www.beds.ac.uk/studentlife/student-support/sid">Click Here</a><br>
  and click on 'How to...help', or just go straight to the 'Request a letter' guide via this link. You can log the enquiry from the Enquiries menu using the category 'Bank Letter', but if you use the Log Enquiry button from this FAQ the category will be found automatically.
  We will need the address of the branch you are applying at, and we only provide a maximum of two letters per student so it is best to find out about the accounts available before you request a letter.
  Please note: Some Banks may require further proof of address such as a Tenancy Agreement or Utility Bill.
  </div>
</div>
<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question-Where is the luton campus located?</h4>
    </div>
    <div class="card-body">
    Luton campus is located east of the mall </br>
    University of Bedfordshire</br>
    Vicarage St, 
    Luton LU1 3JU
   
  </div container="google-map" >
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9852.296339518025!2d-0.4092921!3d51.8778602!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62ef34e0d59a13ad!2sUniversity%20of%20Bedfordshire!5e0!3m2!1sen!2suk!4v1586025574573!5m2!1sen!2suk" 
    width="auto" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>   
</div> 

  </div>
</div>

{% endblock content %}