{% extends "base_template.html" %}

{% block content %}
<script>
  navbar.classList.remove("navbar-transparent");
  navbar.classList.add("bg-primary");
</script>
<div class="container" style="margin-top: 150px;">
  <div class="row content-justify-center">
  <h1 class="text-center" style="margin-bottom: 60px;">FAQ</h1>


<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question</h4>
    </div>
    <div class="card-body">
    answer
    </div>
</div>
<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question</h4>
    </div>
    <div class="card-body">
    answer
    </div>
</div>
<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question</h4>
    </div>
    <div class="card-body">
    answer
    </div>
</div>
<div class="card">
    <div class="card-header">
    <h4 class="card-title">Question</h4>
    </div>
    <div class="card-body">
    answer
    </div>
</div>

  

  </div>
</div>

{% endblock content %}