{% extends "base_template.html" %}

{% block content %}

<script>
    navbar.classList.add('navbar-color-on-scroll');
    navbar.classList.add('bg-primary');
</script>
<!DOCTYPE html>
<html>
    <head>
     <title>Homepage</title>
    </head>
    <body>
    
    <div class="page-header header-filter" data-parallax="true"
        style="background-image: url({{url_for('static', filename='assets/img/1302-05.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Welcome to student Life</h1>
                    <h3 class="title">
                       Due to recent circumstances the university will be closed from 23rd March until further notice. </h5>
                                    </div>            
            </div>       
        </div>       
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="title">What to expect</h1>
                            <h4>Life in luton is tanqeull, during your studies you'll meet people from all over the world from different backgrouds,
                                 people here are very friendly and helpful. Active student life can range from quiet studying or living a social life in the clubs of luton,
                                 with pubs round every corner in england you'll find a social crowd you can relate to.</h4>
                        </div>   
                        <div class="col-md-6">        
                            <img style="margin-top: 50px;" src="{{url_for('static', filename='assets/img/Luton.jpg')}}" alt="Circle Image" class="rounded img-fluid">                
                        </div>          
                    </div>               
                </div>          
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Latest Events </h2>
                        <h5 class="description">
                            Connect with other students by checking out the <a href="events.html">Events page</a> .<br>
                            Events ranging from community, services, cultural, guest lectures, gym and sports activities</h5>
                    </div>
                </div>
            </div>
        <div class="section text-center">
            <h2 class="title">Please follow</h2>
                <div class="team">
                    <div class="row">                    
                        <div class="col-md-12">
                            <div class="team-player">
                                <div class="section text-center">                                   
                                    </style>
                                    <div class="card-plain">
                                        <div class="col-md-6 ml-auto mr-auto"> 
                                            <a href="https://www.bedssu.co.uk/"> <img src="static/assets/img/BedsSU.png" alt="Thumbnail Image"   class="img-raised rounded-circle img-fluid"> </a> 
                                           
                                            
                                        </div>
                                        <h4 class="card-title">BedsSU
                                            <br>
                                            <small class="card-description text-muted">Student events </small>
                                        </h4>
                                        <div class="card-body ">
                                            <p class="card-description"> BedSu is the offcial website of University of Befordshire student events and society. Feel free to follow BedSu to keep up to date with upcoming events. 
                                            </p>
                                        </div>
                                        <div class="card-footer justify-content-center">
                                            <a href="https://twitter.com/bedssu" class="btn btn-link btn-just-icon"><i
                                                    class="fa fa-twitter"></i></a>
                                            <a href="https://www.instagram.com/bedssu/" class="btn btn-link btn-just-icon"><i
                                                    class="fa fa-instagram"></i></a>
                                            <a href="https://www.facebook.com/BedsSU/" class="btn btn-link btn-just-icon"><i
                                                    class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</html>

{% endblock content %}

{% block javascript %}
<!-- <script>
body.classList.add("profile-page");
body.classList.add("sidebar-collapse");
</script> -->
{% endblock javascript %}