{% extends "base_template.html" %}

{% block title %}
Home page 
{% endblock title %}

{% block content %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url({{url_for('static', filename='assets/img/city.jpg')}})">
    <div class="container">
        <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
                <h1>Your title here</h1>
                <h3 class="title text-center">Subtitle</h3>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
        <h2 class="title">sex</h2>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
/*$(document).ready(function () {
  $('.navbar').removeClass('navbar-transparent');
  $('.navbar').addClass('navbar-primary');
});*/
</script>
{% endblock javascript %}