{% extends "base_template.html" %}
{% block content %}
<script>
    navbar.classList.add('navbar-color-on-scroll');
    navbar.classList.add('bg-primary');
</script>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url({{url_for('static', filename='assets/img/city-profile.jpg')}});"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 ml-auto mr-auto">
            <div class="profile">
            </div>
          </div>
        </div>

        <div class="description text-center">
            <div class="name">
                <h3 class="title">My bookings</h3>
            </div>

            <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Due</th>
                <th scope="col">Venue</th>
                <th scope="col">Price</th>
                <th scope="col">Name</th>
                <th scope="col">Event</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <th scope="row">{{booking[0].id}}</th>
                    <td>{{booking[1].datetime}}</td>
                    <td>{{booking[1].venue}}</td>
                    <td>{{booking[1].entry_price}} GBP</td>
                    <td>{{booking[1].name}}</td>
                    <td><a href="/event/{{booking[1].id}}" class="btn btn-primary btn-sm">SEX</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

        </div>
      </div>
    </div>

{% endblock content %}

{% block javascript %}
<script>
body.classList.add("profile-page");
body.classList.add("sidebar-collapse");
</script>
{% endblock javascript %}